

<!--  
HTML form

<form action="/users" method="post" accept-charset="UTF-8"> 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input type="text" name="user[username]"><br>

  <label for="email">Email</label>
  <input type="text" name="user[email]"><br>

  <label for="password">Password</label>
  <input type="password" name="user[password]"><br>

  <input type="submit" value="Submit">
</form>  -->


<!--
FORM_TAG form

<%= form_tag '/users', method: 'post' do%>
  <%= label_tag 'user[username]', 'Username'%>
  <%= text_field_tag 'user[username]'%><br>

  <%= label_tag 'user[email]', 'Email'%>
  <%= text_field_tag 'user[email]'%><br>

  <%= label_tag 'user[password]', 'Password'%>
  <%= password_field_tag 'user[password]'%><br>

  <%= submit_tag "Submit" %>
<% end %>
-->

<%= form_for @user do |f| %>
  <%= f.label :username, "Your Username"%><br>
  <%= f.text_field :username %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: "example@email.com" %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit %>
<%end%>